/* Document Styles */

body {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* Game Board Styles */

h1 {
  color: black;
  font-family: 'Dancing Script', serif, sans-serif;
  font-size: 64px;
  margin: 16px 0 6px 0;
}

#container {
  margin: 0 auto;
  text-align: center;
  width: 564px;
}

.threerules {
  bottom: 5px;
  color: black;
  position: fixed;
  right: 20px;
}

h2 {
  font-size: 12px;
  margin-top: 20px;
}

h2 span { color: tomato }

/* Cell Styles */

.cell {
  background-color: #58c9f2;
  border-radius: 4px;
  float: left;
  height: 130px;
  margin: 9px;
  padding: 20px;
  transition: .3s;
  width: 130px;
}

.cell:hover { background-color: #FFC280 }
.cell:after { content: "" }

.xmove {
  background-color: #FFC280;
  float: left;
  height: 130px;
  margin: 9px;
  padding: 20px;
  width: 130px;
}

.xmove:after {
  content: "X";
  font-family: Verdana;
  font-size: 110px;
  line-height: 130px;
  text-align: center;
}

.omove {
  background-color: #FFC280;
  float: left;
  height: 130px;
  margin: 9px;
  padding: 20px;
  width: 130px;
}

.omove:after {
  content: "O";
  font-family: Verdana;
  font-size: 110px;
  line-height: 130px;
  text-align: center;
}