/* Document Styles */

body {
  background: url(../img/beyond-the-clouds-2560x1600-edited.jpg) no-repeat center center;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* Game Board Styles */

h1 {
  color: white;
  font-family: 'Dancing Script', serif, sans-serif;
  font-size: 64px;
  margin: 16px 0 6px 0;
}

#container {
  margin: 0 auto;
  text-align: center;
  width: 564px;
}

.threerules {
  bottom: 5px;
  color: white;
  position: fixed;
  right: 20px;
  font-size: 12px;
}

.threerules span { color: black }

/* Side Bar Styles */

nav {
  float: left;
  margin: 125px 0 0 85px;
}

nav div {
  background-color: rgba(255,255,255,0.3);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 5px 25px;
}

nav h2 {
  color: white;
  font-family: 'Lato', serif, sans-serif;
  font-size: 20px;
  font-weight: normal;
  display: inline-block;
  margin: 0;
}

nav span {
  font-family: 'Dancing Script', serif, sans-serif;
  font-size: 26px;
  font-weight: bold;
  margin-right: 15px;
}

nav i {
  margin-left: 12px;
}

.player {
  color: #1D7A9D;
}

.active {
  color: yellow;
}

#reset {
  cursor: pointer;
}

#reset:hover {
  background-color: rgba(0,0,0,0.4);
  transition: 0.4s;
}

.left-icon {
  line-height: 32px;
  margin-right: 18px;
  margin-left: 0;
}

/* Cell Styles */

.cell {
  background-color: white;
  border-radius: 4px;
  float: left;
  height: 130px;
  margin: 9px;
  padding: 20px;
  transition: .3s;
  width: 130px;
}

.cell:hover { background-color: #FFC280 }
.cell:after { content: "" }

.xmove {
  background-color: #FFC280;
  float: left;
  height: 130px;
  margin: 9px;
  padding: 20px;
  width: 130px;
}

.xmove:after {
  content: "X";
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 110px;
  line-height: 130px;
  text-align: center;
}

.omove {
  background-color: #FFC280;
  float: left;
  height: 130px;
  margin: 9px;
  padding: 20px;
  width: 130px;
}

.omove:after {
  content: "O";
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 110px;
  line-height: 130px;
  text-align: center;
}
