<!DOCTYPE html>
<html ng-app="TicTac">
<head>
  <title>Tic Tac Tangular</title>
  
  <!-- JavaScript -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
  
  <!-- Firebase -->
  <script src="https://cdn.firebase.com/v0/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>

  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Ledger' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Lato'>
  <link rel="stylesheet" type="text/css" href="css/font-awesome/css/font-awesome.min.css">

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/animate.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body ng-controller="TicTacCtrl">

  <nav>
    <div>
      <h2>
        <span ng-class="{player: player == 'X'}">X</span> Player 1 <i class="fa" 
        ng-class="{
        active: !game.turn, 
        'fa-check': player != 'Spectator', 
        'fa-spin': !game.turn && player == 'O', 
        'fa-spinner': !game.turn && player == 'O', 
        'fa-lock': player == 'Spectator'
        }"></i> 
      </h2>
    </div>

    <div>
      <h2>
        <span ng-class="{player: player == 'O'}">O</span> Player 2 <i class="fa" ng-class="{
        active: game.turn, 
        'fa-check': player != 'Spectator', 
        'fa-spin': game.turn && player == 'X', 
        'fa-spinner': game.turn && player == 'X', 
        'fa-lock': player == 'Spectator'}"></i>
      </h2>
    </div>

    <div ng-show="player == 'Spectator'">
      <h2>
        <i class="fa fa-user left-icon" ng-class="{player: player == 'Spectator'}"></i>Spectator
      </h2>
    </div>

    <div id="reset" ng-click="gameReset()">
      <h2>
        <i class="fa fa-power-off left-icon"></i>Reset
      </h2>
    </div>
  </nav>

  <div id="container">
    <h1>Tic Tac Toe</h1>
    <div ng-repeat="row in game.cells track by $index">
      <div ng-repeat="cell in row track by $index" ng-class="{cell: true, animated: animation, bounceIn: animation, xmove: cell == 'X', omove: cell == 'O'}" ng-click="playerMove($parent.$index, $index)"></div>    
    </div>
    <h2 class="threerules">a<br>general assembly<br><span>Class 3</span><br>production</h2>
  </div>

</body>

</html>
